*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: sans-serif;}
body{
    display: grid;
    grid-template-rows:307px 222px 1240px 366px;
    margin: 0 auto;}
img{
    max-height:100%;}
a{text-decoration: none;}
header{
    height: 307px;
    background-image: linear-gradient(to top, #87BFFF 60%, #517399);
    display:flex;
    align-items: center;
    grid-row: 0/1;
    justify-content: space-around;}
nav{
    display: flex;
    justify-content: space-around;
    width: 60%;}
nav a{
    text-shadow: 0px 0px 1px black;
    color: white;
    font-size: 36px;}
#service{
    background-color: #CCCED3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-around;}


#história{
    background-color: #e9fffe;
    display:grid;
    grid-template-rows: 40px 400px 400px 400px ;
    grid-template-columns: 40px 670px 530px 200px;
    grid-row: 3/4;
    font-size: 24px;
    justify-content: center;

}
#introdução{
    grid-row: 2/4;
    grid-column:2/4;
    max-height: 400px;
    max-width: 600px;
}
#desenvolvimento{
    grid-row:3/4;
    grid-column:2/4;
    max-height: 400px;
    max-width: 600px;
}
#finalização{
    grid-row: 4/5;
    grid-column:2/5;
    }
.lojai{
    border: solid #7baace 2px;
    grid-row: 2/3;
    grid-column: 3/4;
    max-height: 335px;
    max-width: 500px;
}
.lojai2{
    border: solid #7baace 2px;
    grid-row: 3/4;
    grid-column: 3/4;
    max-height: 335px;
    max-width: 500px;
}









footer{
    font-size: 26px;
    background-color: #6F94C2;
    display: grid;
    grid-template-rows: 22px 40px 42px 47px 42px 39px 23px 26px 40px 45px;
    grid-template-columns: 29px 462px 471px 423px 53px;}
h2{
    grid-row: 2/3;
    grid-column: 2/3;
    color: #3A506B;}
#a1{
    grid-column: 2/3;
    grid-row: 4/5;}
#a2{
    margin: -10px;
    grid-column: 2/3;
    grid-row: 6/7}
#a3{
    grid-column: 2/3;
    grid-row: 8/9}
#b1{ grid-column: 2/3; grid-row: 4/5; color: #CBF3F0; margin-top: 10px; margin-left: 60px;}
#b2{ grid-column: 2/3; grid-row: 6/7; color: #CBF3F0; margin-top: 10px; margin-left: 60px;}
#b3{ grid-column: 2/3; grid-row: 9/10;color: #CBF3F0; margin-left: 60px;}

#logo2{
    grid-row: 2/7; grid-column: 4/5;}
#c{
    height: 50px;
    grid-row: 7/9;grid-column: 4/5;}
#c2{
    grid-row: 7/9; grid-column: 4/5;
    margin-left: 60px;
    color: #CBF3F0;}
#d{
    grid-row: 7/9; grid-column: 4/5;
    margin-left: 60px;
    color: #CBF3F0;}