*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: sans-serif;}
body{
    display: grid;
    grid-template-rows:307px 222px 2830px 366px;
    margin: 0 auto;}
img{
    max-height:100%;}
a{text-decoration: none;}
header{
    height: 307px;
    background-image: linear-gradient(to top, #87BFFF 60%, #517399);
    display:flex;
    align-items: center;
    grid-row: 0/1;
    justify-content: space-around;}
nav{
    display: flex;
    justify-content: space-around;
    width: 60%;}
nav a{
    text-shadow: 0px 0px 1px black;
    color: white;
    font-size: 36px;}
#service{
    background-color: #CCCED3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-around;}

/*Celular, acessórios, caixas de som, periféricos, televisões, airpods, casa inteligente, cozinha*/
#produtos{
    background-color:  #ffffff;
    display:grid; 
    grid-template-rows: 40px 70px 40px 30px 180px 75px 50px 30px 180px 75px 50px 30px 180px 75px 50px 30px 180px 75px 50px 30px 180px 75px 50px 30px 180px 75px 50px 30px 180px 75px 50px 30px 180px 75px 50px;
    grid-template-columns: 100px 180px 100px 180px 100px 180px 100px 180px 100px 180px 100px;}
#mais{
    margin:10px;
    grid-row:2/3; grid-column: 5/8;
    color:#3A506B; font-size: 36px;}

.sub{
    color:#637a96; font-size: 30px;
    grid-column: 2/3;}
#c1{
    margin: 10px;
    grid-row: 3/4;}
#c2{
    margin: 10px;
    grid-row: 7/8;}
#c3{margin: 10px;
    grid-row: 11/12; grid-column:2/4; }
#c4{margin: 10px;
    grid-row: 15/16;}
#c5{margin: 10px;
    grid-row: 19/20;}
#c6{margin: 10px;
    grid-row: 23/24;}
#c7{margin: 10px;
    grid-row: 27/28;}
#c8{margin: 10px;
    grid-row: 31/32;}

    /* Organizar produtos em linhas */
.l1{
    grid-row:5/6;}
.l2{
    grid-row:9/10;}
.l3{
    grid-row:13/14;margin-left:5px; max-height: 170px;}
.l4{
    grid-row:17/18;}
.l5{
    grid-row:21/22;}
.l6{
    grid-row:25/26;}
.l7{
    grid-row:29/30;}
.l8{
    grid-row:33/34;}

.i1{
    grid-column:2/3;
max-width: 180px; max-height: 180px;}
.i2{
    grid-column:4/5;
max-width: 180px;max-height: 180px;}
.i3{
    grid-column:6/7;
max-width: 180px;max-height: 180px; }
.i4{
    grid-column:8/9;
max-width: 180px;max-height: 180px;}
.i5{
    grid-column:10/11;
max-width: 180px;max-height: 180px;}
.fugitivo{
    max-width: 180px;max-height: 180px;}
.y1{
    margin:20px;}
#y2{
    margin-top:30px;
}
    /**/


footer{
    font-size: 26px;
    background-color: #6F94C2;
    display: grid;
    grid-template-rows: 22px 40px 42px 47px 42px 39px 23px 26px 40px 45px;
    grid-template-columns: 29px 462px 471px 423px 53px;}
h2{
    grid-row: 2/3;
    grid-column: 2/3;
    color: #3A506B;}
#a1{
    grid-column: 2/3;
    grid-row: 4/5;}
#a2{
    margin: -10px;
    grid-column: 2/3;
    grid-row: 6/7}
#a3{
    grid-column: 2/3;
    grid-row: 8/9}
#b1{ grid-column: 2/3; grid-row: 4/5; color: #CBF3F0; margin-top: 10px; margin-left: 60px;}
#b2{ grid-column: 2/3; grid-row: 6/7; color: #CBF3F0; margin-top: 10px; margin-left: 60px;}
#b3{ grid-column: 2/3; grid-row: 9/10;color: #CBF3F0; margin-left: 60px;}

#logo2{
    grid-row: 2/7; grid-column: 4/5;}
#c{
    height: 50px;
    grid-row: 7/9;grid-column: 4/5;}
#d{
    grid-row: 7/9; grid-column: 4/5;
    margin-left: 60px;
    color: #CBF3F0;}